# Logs
logs/
*.log

# Node.js
node_modules/

# Temporary files
tmp/
pids/
*.pid
*.seed

# Build
dist/
build/
.serverless/

# Coverage
coverage/
lib-cov/

# Sensitive files
.env
event.json
policyDocument.json

# Compiled binary addons
build/Release

# IDE-specific
.vscode/
