@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

/* Music Slider */
.rap-container .rap-controls .rap-slider .rap-progress .rap-pin,
.rap-container .rap-controls span {
  display: none;
}

.rap-container .rap-slider .rap-progress .rap-pin,
.rap-container .rap-slider .rap-progress {
  background-color: rgb(59, 53, 53);
}

.rap-container
  .rap-volume
  .rap-volume-controls
  .rap-slider
  .rap-progress
  .rap-pin {
  width: 33px;
  border-radius: 4px;
  height: 10px;
  top: -8px;
  left: -14px;
}
